<ion-content class="map" scrollY="false">
    <ion-fab-button style="position: absolute; left: 15px; top: 15px; z-index: 1001" color="light"
                    routerLink="/walks-places" routerDirection="back">
        <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
    </ion-fab-button>
    <div style="width: 100%; height: 100%"
         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)"
         [leafletMarkerCluster]="markers"
         [leafletMarkerClusterOptions]="clusterOptions"
         [leafletLayers]="userMarker"
         (leafletClick)="closeCards()"
    >
        <a href="http://mapbox.com/about/maps" class='mapbox-wordmark' target="_blank">Mapbox</a>
    </div>
    <ion-fab-button class="user-location-button" color="light" (click)="moveToUserLocation()">
        <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
    <app-map-button (filtersButtonClicked)="showFilters()"></app-map-button>
    <ng-template #cardContainer></ng-template>
    <ng-template #filtersContainer></ng-template>
    <ion-spinner *ngIf="mapsApi.isLoading$ | async" color="primary" class="data-loading md"></ion-spinner>
</ion-content>
